<div class="container">

  <h1>
    Patients list
  </h1>
  <input (keyup)="searchPatients(e.value)"  #e type="text" class="form-control" name="" id="" placeholder="search patient name">
  <div class="butons">
    <button (click) = "sort('name','asc')" class="btn btn-succes">Order by name <span class="glyphicon glyphicon-sort-by-alphabet"></span></button>
    <button (click) = "sort('name','desc')"  class="btn btn-succes">Order by name <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></button>
    <button (click) = "sort('activity','asc')" class="btn btn-succes">Order by activity <span class="glyphicon glyphicon-sort-by-order"></span></button>
    <button (click) = "sort('activity','desc')"  class="btn btn-succes">Order by activity <span class="glyphicon glyphicon-sort-by-order-alt"></span></button>
    <button (click) = "sort(null, null)"  class="btn btn-succes"> <span class="glyphicon glyphicon-refresh"></span></button>
    
  </div><br>

  <div class="list-group">
    <div 
    *ngFor="let patient of patientsFiltered" 
    [style.background-color]="patient.levelOfActivityPassed ?'#C4EAB2' :'#EAB2B2'"
    class="list-group-item">
      <strong>{{patient.name}} </strong>
      <span *ngIf="patient.gender == 'male'; else female" >, M</span>
      <ng-template #female ><span>, F</span></ng-template>
      <span>, DOB: {{patient.birthDate |  date: 'dd MMM yyyy'}}</span>
      <span *ngIf='patient.levelOfActivityPassed else notEnoughActivities'>, Activities Time acceptable </span>
      <ng-template #notEnoughActivities ><span>, Activities Time NOT acceptable</span></ng-template>
      <span (click)="showMoreInfo(patient.id)"  class="pull-right" [style.cursor]="'pointer'"><span class="glyphicon glyphicon-question-sign"></span></span>
    </div>
  </div>
  
</div>

<div class="modal fade" bsModal #moreInfoModal="bs-modal" tabindex="-1" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="mySmallModalLabel"
aria-hidden="true">
<div *ngIf= "patientInfo" class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left"><strong>{{patientInfo?.name}}</strong> - activity details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeMoreInfoModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <li *ngFor="let activity of patientInfo.activities" class="list-group-item">{{activity.activity | uppercase}} - {{activity.minutes}} minutes</li>
      </ul>
      <p>
      <strong [style.color] ="patientInfo.totalModerateActivityMinutes>0?'':'red'">
        Total modarate activity: {{patientInfo.totalModerateActivityMinutes}} minutes
      </strong>    
    </p>
      <p>
        <strong  [style.color] ="patientInfo.totalVigoursActivityMinutes>0?'':'red'">
          Total vigorous activity: {{patientInfo.totalVigoursActivityMinutes}} minutes
        </strong>
      </p>

    </div>

    </div>
  </div>
</div>


